
:root
{
  --background_color:black;
}

.dialog{
  max-width: 1000px;
  max-height: 1000px;
}

body{
  color: white;
  background-color: var(--background_color,black);
}

h1{
  color: #f00;
}

h2{
  color: hsl(100,77%, 77%);

}

h3{
  color:color(srgb 1 0.2 0.3);
}

#fish_grinder_2000{
  /* color: orange; */
  color: color-mix(in srgb, var(--background_color, black) 1%, orange 99%);
  height: 100000px;
  width:  10000000px;
}

#overview{
  /* Box Stuff */
  width: 500px;
  border: 10px solid palevioletred;
  border-radius: 100px;
  /* Long form For margin & padding */
  margin-left: 10ch;
  margin-top: 10px;
  margin-right:10%;
  margin-bottom:1in;
  /* padding:  */
  padding-bottom: 10cm;
  padding-left: 10ch;
  padding-top: 10ch;
  padding-right: 10ch;

  /* Text */
  color: hsl(from  blue 92 34 50);
  text-align: center;
  text-decoration: underline goldenrod double;
}

/* Border playing */
#summary{
  height: 5cm;
  width: 10cm;
  border-style:dotted;
  border-color: lightgreen;
  border-width: 100px;
  border-radius: 50px;
  margin: auto;
}

#nextmeet{
border: 10px rgb(170, 51, 51) outset ;
margin: 100px 5px 5px 50px;
padding: 50px 0px 10px 50px;
}

#date{
  display: none;
  color: burlywood;
}

#span-1{
  display: block;
  border: 10px rgb(170, 51, 51) ;
  border-style: ridge;
  text-align: center;
  margin: 100px 5px 50px 50px;
  padding: 50px 50px 50px 50px;
}