
/* :root
{
  --background_color:black;
} */

/* All <a> element withe a href */
a[href]:hover{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

/* Multiple element*/
p, a{
  color: darkkhaki;
}
/* Font */
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
  --background_color:black;
}

.dialog{
  max-width: 1000px;
  max-height: 1000px;
}
/* Body */
body{
  font-family: "Shadows Into Light";
  color: white;
  background-color: var(--background_color,black);
}
body:active{
  color: black;
  background-color: white;
}
/* End of Body */

h1{
  color: #f00;
}

h2{
  color: hsl(100,77%, 77%);
}


h3{
  color:color(srgb 1 0.2 0.3);
}

/* Flex */

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
#squid{
  order: 1;
  flex-grow: 1;
}
#fish{
  flex-grow: 1;
  order: 2;
}
#fish_grinder_2000{
  /* color: orange; */
  color: color-mix(in srgb, var(--background_color, black) 1%, orange 99%);
  /* max-width/height protection */
  height: 100000px;
  width:  10000000px;
}

/* End Flex */

/* Grid */
.grid
{
  --row: 300px;
  --col: 300px;
  display: grid;
  grid-template-columns: 0.1fr repeat(2, var(--col));
  grid-template-rows: 1fr repeat(2,var(--row));
  grid-gap: 1mm;
}

.grid_item
{
  background-color: tomato;
  width: 100px;
  height: 100px;
  border: 5px solid pink;
  place-self: center;
}
.grid_item:hover{
  background-color: tomato;
  width: 100px;
  height: 100px;
  border: 5px solid greenyellow;
  place-self: center; 
}

/* position sticky */
#sticky-box:hover{
  border: green solid 50px;

}
#sticky-box{
  position: sticky;
  top: 100px;
  border: yellow solid 50px;
  margin: auto;
  width: 100px;
  height: 100px;
  text-align:  center;
}

/* position aboslute */
#absolute-box:active{
  position: absolute;
  top:550px;
  left: 500px;
  margin: auto;
  border: green solid 10px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  text-align: center;
}

/* Border playing */
@media (width >= 1000px) {
  
#overview{
    /* Box Stuff */
    width: 500px;
    border: 10px solid palevioletred;
    border-radius: 100px;
    /* Long form For margin & padding */
    margin-left: 10ch;
    margin-top: 10px;
    margin-right:10%;
    margin-bottom:1in;
    /* padding:  */
    padding-bottom: 10cm;
    padding-left: 10ch;
    padding-top: 10ch;
    padding-right: 10ch;
  
    /* Text */
    color: hsl(from  blue 92 34 50);
    text-align: center;
    text-decoration: underline goldenrod double;
  }

#summary{
  height: 5cm;
  width: 10cm;
  border-style:dotted;
  border-color: lightgreen;
  border-width: 100px;
  border-radius: 50px;
  margin: auto;
}

#nextmeet{
border: 10px rgb(170, 51, 51) outset ;
margin: 100px 5px 5px 50px;
padding: 50px 0px 10px 50px;
}

#span-1{
  display: block;
  border: 10px rgb(170, 51, 51) ;
  border-style: ridge;
  text-align: center;
  margin: 100px 5px 50px 50px;
  padding: 50px 50px 50px 50px;
}
}
/* End of Border */
/* Dont display if width smaller than 1000pxx */
.narrow{
  display: none;
}
